<%= render partial: 'search/form' %>

<% if params[:q] %>
 <% if @results %>
  <div class="search-results">
    <% @results.each do |r| %>
      <div class="blog-post">
        <div><%= link_to r.searchable.title.html_safe, post_path(r.searchable.id) %></div>
        <div class="blog-post-meta">
          by <%= link_to r.searchable.user.name, user_path(r.searchable.user.id) %> 
          on <%= r.searchable.published_on %>
        </div>
        <div class="blog-post-body">
          <%= r.searchable.body.html_safe %>
        </div>
      </div>
      <hr />
    <% end %>
  </div>
  <% elsif !@results%>
  <div class="search-result">
    (No results)
  </div>
  <% end %>
<% end %>
<% if params[:q] && @results %>
  <%= render partial: 'search/page', local: {object: @results} %> 
<% end %>
