<%= form_for(@attachment) do |f| %>
  <% if @attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
      <% @attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= image_tag @attachment.attachment_url(:thumb).to_s %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= @attachment.name %>
  </div>
  <div class="field">
    <%= f.label :is_public %><br />
    <%= f.check_box :is_public %>
  </div>
  <div class="field">
    <%= f.label :gallery %><br />
    <%= f.select(:gallery, 
          options_for_select(
            Gallery.all.collect {|g| 
              [
                g.name, 
                g.id, 
                {
                  "data-img-src"   => g.cover_photo,
                  "data-img-label" => g.name 
                }
              ]
            }, @attachment.gallery.id),  
            {},  
            {  class: "image-picker show-html"}
            )
          %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :id => "attachment-submit-btn" %> 
    <%= link_to 'Delete', attachment_path(@attachment), method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
  </div>
<% end %>

