<%= form_for(@post, multipart: true, :html => { :id => "new-post" }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, rows: 4, cols: 60 %>
  </div>
  <div class="field">
    
    <%= f.label :category_id %><br />
    <%= f.collection_select(:category_id, Category.all, :id, :name, :prompt => 'Please select your category') %>
  </div>
  <div class="field">
    <p>Or create a new category</p>
    <input type="text" name="post[new_category]" />
  </div>
  <div class="field">
    <%= f.label :published_on %>
    <%= f.datetime_local_field :published_on, min: Date.today.beginning_of_year %>
  </div>
  <div class="actions">
    <%= f.submit 'Create post', :id => "post-submit-btn" %>
  </div>
<% end %>
<% @deferred_content = javascript_include_tag '//tinymce.cachefly.net/4.1/tinymce.min.js' %>
