<div id="status-message"></div>
<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to post.title, post %></h2>
  <p class="blog-post-meta">
    <%= post.created_at %> by <%= link_to post.user.name, post.user %>
    <% if post.category%>
      Filed under: <%= post.category.name %>
    <% end %>
  </p>
  <%= post.body %>
  <div class="post-attachments">
  <p>Attachment(s):</p>
  <% if post.attachments %>
    <% post.attachments.each {|a| %>
      <div><%= image_tag a.attachment_url(:thumb).to_s %></div>
    <% } %>
  <% end %>
  </div>
  <div class="post-edit">
  <%= link_to 'Edit', edit_post_path(post) %>
  </div>
</div><!-- /.blog-post -->
