<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to post.title, post %></h2>
  <p class="blog-post-meta">
  <%= post.published_on.to_s(:posted_on) %> by <% if post.user %> <%= link_to post.user.name, user_path(post.user) %> <% else %> (no name) <% end %>
    <% if post.category%>
      in <%= post.category.name %>
    <% end %>
    <% if post.parent %>
      in reply to <%= link_to post.parent.title, post_path(post.parent) %>
    <% end %>
    <%= link_to "#{post.comments.count} comments", post %>
  </p>
  <div class="blog-post-body">
    <%= raw post.body %>  
  </div>
  <div id="comments"></div>
  <script type="text/x-jquery-tmpl" id="commentTemplate">
    <hr />
    <div class="blog-post">
      <p class="blog-post-meta">
      {{= published_on}} by {{= name}}
      </p>
      <div class="blog-post-body">
        {{html body}}
      </div>                                                                                                                                
      <p><a href="/posts/{{= slug}}/reply">reply to this post</a></p>
      {{if comments}}
        <ul class="replies">
          <li>
          {{tmpl(comments) "#commentTemplate"}}
          </li>
        </ul>
      {{/if}}
    </div>
 </script>
  <% if can? :edit, post %>
  <div class="post-edit">
    <%= link_to 'Edit', edit_post_path(post) %>
  </div>
  <% end %>
</div>
<!-- /.blog-post -->
