<div id="status-message"></div>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Author:</b>
  <%= @post.user %>
</p>

<p>
  <b>Parent:</b>
  <%= @post.parent %>
</p>

<p>
  <b>Category:</b>
  <% if @post.category%>
    <%= @post.category.name %>
  <% end %>
</p>

<p>
<b>Attachment(s):</b>
<% if @post.attachments %>
  <% @post.attachments.each {|a| %>
    <div><%= image_tag a.attachment_url(:thumb).to_s %></div>
  <% } %>
<% end %>
</p>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
