<p id="notice"><%= notice %></p>
<h2 id="gallery-name">
  <%= @gallery.name %>
</h2>
<%= render partial: "image", object: @gallery %>
<% if can? :edit, Gallery %>
  <%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<% end %>
<% if can? :create, Attachment %>
  <%= link_to 'Add photos', gallery_photo_path(@gallery) %> |
<% end %>
<%= link_to 'Back', galleries_path %>
